body{
	background: white;
}

.imgClass {
	width: 450px;
	height: 300px;
	margin: 5px;
	border-radius: 10px;
	transition: all 1s;
}

.imgClass:hover {
	transform: scale(1.05);
}

.title {
	text-align: center;
	width: 600px;
	color: black;
	font-family: fantasy;
	font-size: 50px;
	margin-bottom: 50px;
	border-bottom: 2px solid skyblue;
	border-right:  2px solid skyblue;
	box-shadow: 4px 4px 4px #888888;
}

.jcCenter {
	justify-content: center;
}

.imgContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}